// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 RPDZKJ  Co., Ltd.
 *
 */

&i2c4 {
    status = "okay";
    clock-frequency = <400000>;
    pinctrl-names = "default";
    pinctrl-0 = <&i2c4m2_xfer>;

    gc2093_0: gc2093_0@37 {
        compatible = "galaxycore,gc2093";
        status = "okay";
        reg = <0x37>;
        clocks = <&cru MCLK_REF_MIPI0>;
        clock-names = "xvclk";
       // power-domains = <&power RV1106_PD_VI>;
        pinctrl-names = "default";
        pinctrl-0 = <&mipi_refclk_out0>;
        pwdn-gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio3 RK_PC5 GPIO_ACTIVE_LOW>;
        rockchip,camera-module-index = <0>;
        rockchip,camera-module-facing = "back";
        rockchip,camera-module-name = "SIDA209300461";
        rockchip,camera-module-lens-name = "60IRC_F20";
        port {
            ucam_out0: endpoint {
                remote-endpoint = <&csi_dphy_input0>;
                data-lanes = <1 2>;
            };
        };
    };
    
    gc2093_1: gc2093_1@7e {
        compatible = "galaxycore,gc2093";
        status = "okay";
        reg = <0x7e>;
        clocks = <&cru MCLK_REF_MIPI1>;
        clock-names = "xvclk";
        //power-domains = <&power RV1106_PD_VI>;
        pinctrl-names = "default";
        pinctrl-0 = <&mipi_refclk_out1>;
        pwdn-gpios = <&gpio3 RK_PD2 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio3 RK_PD3 GPIO_ACTIVE_LOW>;
        rockchip,camera-module-index = <1>;
        rockchip,camera-module-facing = "back";
        rockchip,camera-module-name = "SIDA209300461";
        rockchip,camera-module-lens-name = "60IRC_F20";
        port {
            ucam_out1: endpoint {
                remote-endpoint = <&csi_dphy_input1>;
                data-lanes = <1 2>;
            };
        };
    };

};

&csi2_dphy_hw {
    status = "okay";
};

&csi2_dphy1 {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            csi_dphy_input0: endpoint@1 {
                reg = <1>;
                remote-endpoint = <&ucam_out0>;
                data-lanes = <1 2>;
            };
        };

        port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;

            csi_dphy_output: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&mipi_csi2_input>;
            };
        };
    };
};

&csi2_dphy2 {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            csi_dphy_input1: endpoint@1 {
                reg = <1>;
                remote-endpoint = <&ucam_out1>;
                data-lanes = <1 2>;
            };
        };

        port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;

            csi_dphy_output1: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&mipi1_csi2_input>;
            };
        };
    };
};

&mipi0_csi2 {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            mipi_csi2_input: endpoint@1 {
                reg = <1>;
                remote-endpoint = <&csi_dphy_output>;
            };
        };

        port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;

            mipi_csi2_output: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&cif_mipi_in>;
            };
        };
    };
};

&mipi1_csi2 {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;

        port@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;

            mipi1_csi2_input: endpoint@1 {
                reg = <1>;
                remote-endpoint = <&csi_dphy_output1>;
            };
        };

        port@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;

            mipi1_csi2_output: endpoint@0 {
                reg = <0>;
                remote-endpoint = <&cif_mipi_in1>;
            };
        };
    };
};

&rkcif {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&mipi_pins>;
};

&rkcif_mipi_lvds {
    status = "okay";

    port {
        /* MIPI CSI-2 endpoint */
        cif_mipi_in: endpoint {
            remote-endpoint = <&mipi_csi2_output>;
        };
    };
};

&rkcif_mipi_lvds_sditf {
    status = "okay";

    port {
        /* MIPI CSI-2 endpoint */
        mipi_lvds_sditf: endpoint {
            remote-endpoint = <&isp_in>;
        };
    };
};

&rkcif_mipi_lvds1 {
    status = "okay";

    port {
        /* MIPI CSI-2 endpoint */
        cif_mipi_in1: endpoint {
            remote-endpoint = <&mipi1_csi2_output>;
        };
    };
};

&rkcif_mipi_lvds1_sditf {
    status = "okay";

    port {
        /* MIPI CSI-2 endpoint */
        mipi_lvds1_sditf: endpoint {
            remote-endpoint = <&isp_in1>;
        };
    };
};

&rkisp {
    status = "okay";
};

&rkisp_vir0 {
    status = "okay";

    port@0 {
        isp_in: endpoint {
            remote-endpoint = <&mipi_lvds_sditf>;
        };
    };
};

&rkisp_vir1 {
    status = "okay";

    port@0 {
        isp_in1: endpoint {
            remote-endpoint = <&mipi_lvds1_sditf>;
        };
    };
};
